.gcloudignore
.git
.git/**

#!include:.gitignore

.github
.vscode
.idea

mobile
docs
hosted_database
AGENTS.md
PROJECT.md
README.md
CONTRIBUTING.md
GOVERNANCE.md
TRADEMARKS.md
DCO
LICENSE
compose.yaml
*.log
